.news-ticker {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.ticker-wrap {
    display: inline-flex;
}

.ticker-item {
    display: inline-block;
    will-change: transform; // fix jittery characters on slow speeds
    a.nav-link {
        margin-right: -1px;
        background-color: black;
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        &:hover,
        &:focus {
            // background-color: ;
        }
    }
    // white-space: normal; // causing new lines on smaller views
}
